.main-profile__header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-profile__header .image-box img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.main-profile__header .profile-box .name-section .text-name {
  font-size: 24px;
}
.main-profile__sub-header {
  padding-top: 40px;
}
.main-profile__sub-header .working-time,
.main-profile__sub-header .warning-letter {
  line-height: 14px;
}
.main-profile__sub-header .working-time .bi,
.main-profile__sub-header .warning-letter .bi {
  font-size: 16px;
}
.main-profile__sub-header .working-time span,
.main-profile__sub-header .warning-letter span {
  font-size: 12px;
}
.main-profile__tabs .nav-tabs {
  border-bottom: none !important;
}
.main-profile__tabs .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 1px solid lightblue !important;
  color: #000;
  font-weight: bold;
}
.main-profile__tabs .nav-tabs .nav-link.active:hover {
  border-bottom: 1px solid lightblue !important;
}
.main-profile__tabs .nav-tabs .nav-link {
  color: darkgray;
}
.main-profile__tabs .nav-tabs .nav-link:hover {
  border: none;
  border-bottom: 1px solid lightgray !important;
}
.main-profile__tabs-work-experience .container-work img {
  width: 50px;
  height: auto;
}
.main-profile__tabs-work-experience .container-work .detail .company {
  font-size: 10px;
}
.main-profile__tabs-work-experience .container-work .detail .time {
  font-size: 10px;
  color: gray;
}
.main-profile__tabs-medical-record .empty {
  text-align: center;
  padding: 12px;
  background: #e6e6e6;
}
.main-profile__tabs-medical-record .empty img {
  width: 200px;
  height: auto;
  mix-blend-mode: multiply;
}

